In [22]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import pandas_profiling as pp
import seaborn as sns
import warnings
import os

warnings.filterwarnings('ignore')
pd.set_option('display.max_columns', None)

In [6]:
# Leitura do dataset refinado
diretorio_acidentes = 'data/refined/acidentes_recife.csv'
df_acidentes = pd.read_csv(diretorio_acidentes, sep = ',')

In [7]:
df_acidentes.head(3)

,Unnamed: 0,data,natureza_acidente,situacao,bairro,endereco,complemento,bairro_cruzamento,tipo,descricao,auto,moto,ciclom,ciclista,pedestre,onibus,caminhao,viatura,outros,vitimas,vitimasfatais,Protocolo,natureza,auto_bin,moto_bin,ciclom_bin,ciclista_bin,pedestre_bin,onibus_bin,caminhao_bin,viatura_bin,outros_bin,vitimas_bin,vitimasfatais_bin,dia_da_semana,mes,ano
0,0,2021-01-01,Não fatal,FINALIZADA,MADALENA,RUA BENFICA,EM FRENTE AO EXTRA NA SAIDA,MADALENA,COLISÃO FRONTAL,NaN,0.111111,0.125,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.047619,0.0,NaN,NaN,0.00,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Friday,1.0,2021.0
1,1,2021-01-01,Não fatal,FINALIZADA,VÁRZEA,AV CAXANGA,EM FRENTE A UPA DA CAXANGA,VÁRZEA,COLISÃO TRASEIRA,NaN,0.222222,0.000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.047619,0.0,NaN,NaN,0.25,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Friday,1.0,2021.0
2,2,2021-01-02,Não fatal,FINALIZADA,VASCO DA GAMA,RUA RESPLENDOR,AO LADO DO COLEGIO ADERBAL GALVÃO EM FRE...,VASCO DA GAMA,COLISÃO COM CICLISTA,NaN,0.111111,0.125,0.0,0.333333,0.0,0.0,0.0,0.0,0.0,0.047619,0.0,NaN,NaN,0.00,0.0,0.0,0.25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Saturday,1.0,2021.0

# Estatísticas descritivas

Para explorar e entender nossos dados de forma eficiente, vamos utilizar o pandas-profiling. Essa biblioteca nos permite gerar análises descritivas de maneira automatizada e simplificada. Dessa forma, aproximamos nosso trabalho de projetos reais de ciência de dados.

In [8]:
df_acidentes.describe()

,Unnamed: 0,descricao,auto,moto,ciclom,ciclista,pedestre,onibus,caminhao,viatura,outros,vitimas,vitimasfatais,auto_bin,moto_bin,ciclom_bin,ciclista_bin,pedestre_bin,onibus_bin,caminhao_bin,viatura_bin,outros_bin,vitimas_bin,vitimasfatais_bin,mes,ano
count,36616.000000,0.0,36616.000000,36616.000000,36616.000000,36616.000000,36616.000000,36616.000000,36616.000000,36616.000000,36616.000000,36616.000000,36616.000000,36616.000000,36616.000000,36616.000000,36616.000000,36616.000000,36616.000000,36616.000000,36616.000000,36616.000000,36616.000000,36616.000000,36448.000000,36448.000000
mean,18307.500000,NaN,0.028703,0.022504,0.001202,0.004115,0.005635,0.008712,0.001331,0.001167,0.000166,0.011169,0.000396,0.008521,0.003455,0.001202,0.003127,0.004390,0.008712,0.000068,0.000027,0.000048,0.000109,0.000055,6.743991,2022.797300
std,10570.273065,NaN,0.059748,0.052906,0.034645,0.037460,0.044906,0.067681,0.011324,0.011540,0.007087,0.025160,0.009961,0.047350,0.029936,0.034645,0.029046,0.036669,0.067681,0.006128,0.005226,0.006532,0.008466,0.006662,3.440299,0.542649
min,0.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2021.000000
25%,9153.750000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,2023.000000
50%,18307.500000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,7.000000,2023.000000
75%,27461.250000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,10.000000,2023.000000
max,36615.000000,NaN,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,12.000000,2024.000000

In [26]:
report = pp.ProfileReport(df_acidentes)
report.to_file('Análise Exploratória de Dados.html')

Summarize dataset: 100%|██████████| 83/83 [00:14<00:00,  5.70it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:14<00:00, 14.05s/it]
Render HTML: 100%|██████████| 1/1 [00:02<00:00,  2.08s/it]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 31.25it/s]

OBS: Para visualização correta, é necessário baixar o html gerado e abrir no navegador.